body {
  position: relative;
}

.home-section{
    height:60vh;
    min-height: 500px;
    background: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section h1, .home-section p {
    color:#ffffff;
    margin-bottom:20px;
}


.affix {
  z-index: 999;
  top: 0;
  width: 100%;
}

@media only screen and (min-width : 992px) {
  #header-top {
    min-height: 100px;
  }
}

.jumbo-text {
    font-family: 'Lobster', cursive;
}

.container-fluid {
  margin-bottom: 8vh;
}

.nav-li {
  font-family: 'Lobster', cursive;
}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}

.intro {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.menu-header {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  margin-top: 12vh;
  margin-bottom: 12vh;
}

p {
  list-style-type: none;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 8vh;
}

ul li {
  list-style-type: none;
}

h4 {
  font-family: 'Lobster', cursive;
}

h5 {
  font-family: 'Dosis', sans-serif;
}

.li-header {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.li-text {
  list-style-type: none;
  font-family: 'Dosis', sans-serif;
}

.li-items {
  margin-top: 0vh;
}


.tablist li {
  font-size: 20px;
}
.footer-title {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.footer {
  background-color: #f4f4f4;
  margin: 0;
}

.footer li {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}
